div{
  display: inline-block;
  border: 1px;
  width: 200px;
  height: 200px;
  margin: -2px;
}
.hov:hover{
  background-color:#F69;
}
#canto{
  border: 2px solid black;
}
.vermelha{
  background-color: #903;
  border: 1px solid black;
}
.azul{
  background-color: #36F;
  border: 1px solid black;
}
.verde{
  background-color: #099;
  border: 1px solid black;
}
.amarela{
  background-color: #FF8;
  border: 1px solid black;
}
